# Server Configuration
NODE_ENV=development
PORT=5000

# Client Configuration
FRONTEND_URL=http://localhost:3000

# Database Configuration (Aiven MySQL / Hostinger MySQL)
# Format: mysql://USERNAME:PASSWORD@HOST:PORT/DATABASE?ssl-mode=REQUIRED
DATABASE_URL=

# JWT Secrets & Expiration
JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

# Authentication Cookie Configuration
COOKIE_NAME=omshilpi_access_token
REFRESH_COOKIE_NAME=omshilpi_refresh_token
COOKIE_SECRET=
COOKIE_SECURE=false
COOKIE_SAME_SITE=lax

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=om-shilpi/products
